---
const year = new Date().getFullYear();
---
<footer class="footer container">
  <span>© {year} BOAFÉ</span>
  <a href="/politica-de-privacidade">Política de Privacidade</a>
  <span>Feito com boa-fé, claro.</span>
</footer>
